[submodule "extern/geometry-central"]
	path = extern/geometry-central
	url = https://github.com/nmwsharp/geometry-central.git
[submodule "extern/polyscope"]
	path = extern/polyscope
	url = https://github.com/nmwsharp/polyscope.git
